<!DOCTYPE html>
<html>
  <head>
    <title> About Us Section</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="wrapper">
      <ul class="team">
        <li class="team-item">
          <div class="profile profile_yellow">
            <img src="images/About Our Team Section/dog2.jpeg">
            <div class="profile-contents">
              <h2>Kalen <span> Product Manager</span></h2>
              <p>
                Example Of Text Example Of Text Example Of Text  Example Of Text  Example Of Text  Example Of Text  Example Of Text  Example Of Text  
              </p>
            </div>
          </div>
          <button class="button">
                View More
              </button>
        </li>
        <li class="team-item">
          <div class="profile profile_orange">
            <img src="templates/images/cat.jpeg">
            <div class="profile-contents">
              <h2>Jamie <span> Web Developer</span></h2>
              <p>
                I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao.
              </p>
            </div>
          </div>
          <button class="button">
                View More
              </button>
        </li>
        <li class="team-item">
          <div class="profile profile_white">
            <img src="templates/images/redpanda-2.jpeg">
            <div class="profile-contents">
              <h2>Michael <span> Front-End Engineer</span></h2>
              <p>
                I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao.
              </p>
            </div>
          </div>
          <button class="button">
                View More
              </button>
        </li>
        <li class="team-item">
          <div class="profile profile_pink">
            <img src="templates/images/rabbit-3.jpeg">
            <div class="profile-contents">
              <h2>Emily <span> Product Manager</span></h2>
              <p>
                I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao.
              </p>
            </div>
          </div>
          <button class="button">
                View More
              </button>
        </li>
        <li class="team-item">
          <div class="profile profile_blue">
            <img src="templates/images/hamster-2.jpeg">
            <div class="profile-contents">
              <h2>Parker <span> Product idk</span></h2>
              <p>
                I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao I love eating pancakes lmao.
              </p>
            </div>
          </div>
          <button class="button">
                View More
              </button>
        </li>
      </ul>
    </div>
  </body>
</html>