    @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, ul, h2, p{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: #111;
    color: #999;
}
.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-item {
    flex-basis: 120px;
    flex-shrink: 0;
    margin: 0 60px;
    transition: all 0.4s;
}

.team-item img{
    border-radius: 20px;
    width: 170%;
}
.team-item:hover .profile-contents p{
    max-height: 6em;
}
.team-item:hover {
    flex-basis: 170px;
    margin: 0 80px;
}

.profile {
    background-color: transparent;
    position: relative;
}


.profile-contents{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    color: #fff;
}
.profile-contents h2{
    font-size: 20px;
}
.profile-contents h2 span{
    display: block;
    font-size: 12px;
}
.profile-contents p{
    font-size: 10px;
    min-width: 140px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.2;
    transition: all .4s;
    transition-delay: .4s;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #23B94E;
    border-radius: 6px;
    margin: 14px;
    margin-right: -30px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #0EA038;
}