<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>
      An Average Day in Florida
    </title>
    <link href="./static/css/styles.css" rel="stylesheet">
    <link href="./static/css/timeline.css" rel="stylesheet">
    <link href=
    "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    rel="stylesheet">
    <script src="./static/js/script.js"></script>
    <script src="./static/js/dark_mode.js"></script>
    <script src="./static/js/scroll-out.js"></script>
    <style id="purpose_background_styles"></style>
  </head>
  <body>
    <header>
      <nav>
        <i class="bi bi-list" id="mobile_nav_button" onclick=
        "toggle_nav()"></i> <img class="logo" src=
        "./static/images/florida_man.png">
        <div class="menu">
          <ul class="nav-links">
            <li>
              <a href="">Home</a>
            </li>

            <li>
              <a href="#team">Team</a>
            </li>

            <li>
              <a href="model">Model</a>
            </li>
          </ul>
          <a href="https://www.ai-camp.org"><img alt="HTML tutorial" src=
          "https://static.wixstatic.com/media/12b467_a4ceef0f338c41c7885cb083ea36a00f~mv2_d_1742_1743_s_2.png/v1/fill/w_68,h_68,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ai%20camp%20logo.pn"
          style="width:42px;height:42px;"></a>
        </div>

        <div class="darkLight-searchBox">
          <div class="dark-light">
            <i class="bi bi-moon-fill" id="moon"></i> <i class="bi bi-sun" id=
            "sun"></i>
          </div>

          <div class="searchBox">
            <div class="searchToggle">
              <a href="profile" style="width:22px;height:26px;" target=
              "_blank"><i class="bi bi-person-circle"></i></a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <script>
    var mobile_nav = false;
    function toggle_nav() {
      if (!mobile_nav) {
        document.getElementsByTagName("nav")[0].style.paddingBottom = "100px";
        document.getElementsByTagName("nav")[0].style.height = "200px";
        mobile_nav = true;
      } else {
        document.getElementsByTagName("nav")[0].style.paddingBottom = "";
        document.getElementsByTagName("nav")[0].style.height = "";
        mobile_nav = false;
      }
    }
    </script>
    <div class="container">
      <div class="text-box">
        <p>
          An Average Day In
        </p>

        <h1>
          FLORIDA
        </h1>

        <h4>
          <span>- An Entertaining Florida Man Headline Generator</span>
        </h4>

        <div class="row">
          <a href="model"><span></span>TRY OUT OUR MODEL</a> <a href=
          "#purpose"><span></span>LEARN MORE</a>
        </div>
      </div>
    </div>
    <!--Why?-->

    <section class="purpose_section" id="purpose">
      <div id="purpose_background">
        <ul id="purpose_background_circles">
        </ul>

        <div class="why">
          <div class="why_headline">
            <h1>
              Our purpose
            </h1>

            <br>
            <img class="lol" src="./static/images/lines.png">
            <h2>
              The story of Florida Man...
            </h2>

            <br>
            <br>

            <p style='text-align:center'>
              Since Florida is undoubtedly the most ridiculous and nonsensical
              state in the entire US, this project is designed to reveal the
              weirdest activities and antics of the locals! We are also testing
              how similar AI generated news headlines can sound to real ones.
              <br>
              <br>
              Numerous Florida citizens have done something so crazy that it
              seems like it was out of a wild dream! In a group of headlines
              from different states, you can trust that Florida Man will always
              take the cake. There are tons of crazy headlines generated by the
              GPT-2 model in this website from the data in the Florida Man
              Dataset that are sure to blow your mind.
              <br>
              <br>
              Without further ado, let's take a look at some shenanigans from
              Florida Man!
            </p>
          </div>
        </div>
      </div>
    </section>
    <script id="purpose_circles_script" type="text/javascript">
     let circles = 25;
     function rand_int(min, max) {
       rand = Math.random();
       return min + Math.floor(rand * ((max - min) + 1));
     }
     for (i = 0; i < circles; i++) {
       let circle_radius = rand_int(20,150);
       document.getElementById("purpose_background_circles").innerHTML += "<li style='left:" + rand_int(5,95) + "%;width:" + circle_radius + "px;height:" + circle_radius + "px;animation-delay:" + rand_int(0,25) + "s;animation-duration:" + ((circle_radius > 125 && rand_int(40,55)) || (circle_radius > 100 && rand_int(35,40)) || rand_int(25,35)) + "s'></li>";
     }
     document.getElementById("purpose_circles_script").outerHTML = "";
    </script> 
    <script type="text/javascript">




     ScrollOut({
       targets: 'h1,h2,p,a'
     })
    </script>
    <section id="use_cases">
      <div class="rowe">
        <div class="column">
          <div class="card">
            <div class="card__content">
              <div class="card__front">
                <h3 class="card__title">
                  E
                </h3>
              </div>

              <div class="card__back">
                <p class="card__body">
                  <b>Entertainment</b>
                  <br>
                  For fun quick laughs, we serve an infinite well of humorous
                  satire
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card__content">
              <div class="card__front">
                <h3 class="card__title">
                  P
                </h3>
              </div>

              <div class="card__back">
                <p class="card__body">
                  <b>Prevention</b>
                  <br>
                  We rob the future of headlines by forwarding to local police.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card__content">
              <div class="card__front">
                <h3 class="card__title">
                  I
                </h3>
              </div>

              <div class="card__back">
                <p class="card__body">
                  <b>Inspiration</b>
                  <br>
                  Great for giving novelists and other writers some extra
                  ideas!!!
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card__content">
              <div class="card__front">
                <h3 class="card__title">
                  C
                </h3>
              </div>

              <div class="card__back">
                <p class="card__body">
                  <b>Coverage</b>
                  <br>
                  We also forward headlines to known media outlets.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Timeline-->

    <section id="time">
      <div class="texts" style='text-align:center'>
        <h1>
          <span style='font-size:xxx-large'><br>
          <br>
          <br>
          PROCESS</span>
        </h1>
      </div>

      <div class="timeline">
        <div class="timeline__component">
          <div class="timeline__date timeline__date--left">
            Step 1
          </div>
        </div>

        <div class="timeline__middle">
          <div class="timeline__point">
          </div>
        </div>

        <div class="timeline__component timeline__component--bg">
          <h2 class="timeline__title">
            Collect Data
          </h2>

          <p class="timeline__paragraph">
            We used <a href="https://www.kaggle.com/datasets" target=
            "_blank">Kaggle</a> to look for different Florida Man data sets to
            use. After a bit of searching, we found a data set that consists of
            different posts from the subreddit, <a href=
            "https://www.reddit.com/r/FloridaMan/" target=
            "_blank">r/FloridaMan</a>.
          </p>

          <p>
            <a href=
            "https://www.kaggle.com/datasets/bcruise/reddit-rfloridaman"
            target="_blank">Florida Man Data Set</a>
          </p>
        </div>

        <div class="timeline__component timeline__component--bg">
          <h2 class="timeline__title">
            Pre-Processing
          </h2>

          <p class="timeline__paragraph">
            As we were looking through our dataset, we found multiple spam
            messages and unrelated posts in our data set. We used the python
            library, <a href=
            "https://towardsdatascience.com/a-quick-introduction-to-the-pandas-python-library-f1b678f34673"
            target="_blank">pandas</a>, and different python methods to remove
            all of the unrelated posts from the dataset.
          </p>
        </div>

        <div class="timeline__middle">
          <div class="timeline__point">
          </div>
        </div>

        <div class="timeline__component">
          <div class="timeline__date">
            Step 2
          </div>
        </div>

        <div class="timeline__component">
          <div class="timeline__date timeline__date--left">
            Step 3
          </div>
        </div>

        <div class="timeline__middle">
          <div class="timeline__point">
          </div>
        </div>

        <div class="timeline__component timeline__component--bg">
          <h2 class="timeline__title">
            Train Model
          </h2>

          <p class="timeline__paragraph">
            We used <a href="https://docs.aitextgen.io/" target=
            "_blank">Aitextgen</a> to fine-tune an existing <a href=
            "https://huggingface.co/gpt2" target="_blank">GPT-2</a> model and
            then trained the model for about 20 minutes on our filtered data
            set.
          </p>
        </div>

        <div class="timeline__component timeline__component--bg">
          <h2 class="timeline__title">
            Post-Processing
          </h2>

          <p class="timeline__paragraph">
            To make our project more believable we generated mugshots to go
            with our headlines. To do this we compiled a file of different male
            and female mugshots. We had the model randomly pick a mugshot
            depending if the the AI generated a headline to do with Florida Man
            or Woman. We also used the package, <a href=
            "https://pypi.org/project/better-profanity/" target=
            "_blank">Better_Profanity</a>, to ensure that our headlines were
            clean. Lastly to we capitalized the main words in our headline.
          </p>
        </div>

        <div class="timeline__middle">
          <div class="timeline__point">
          </div>
        </div>

        <div class="timeline__component timeline__component--bottom">
          <div class="timeline__date">
            Step 4
          </div>
        </div>

        <div class="timeline__component">
          <div class="timeline__date timeline__date--left">
            Step 5
          </div>
        </div>

        <div class="timeline__middle">
          <div class="timeline__point">
          </div>

          <div class="timeline__point timeline__point--bottom">
          </div>
        </div>

        <div class="timeline__component timeline__component--bg">
          <h2 class="timeline__title">
            Deploy Product
          </h2>

          <p class="timeline__paragraph">
            After creating a working model, we used <a href=
            "https://pythonbasics.org/what-is-flask-python/" target=
            "_blank">Flask</a> to deploy it.
          </p>
        </div>
      </div>
    </section>
    <!-- End of timeline -->
    <!--Challenges Section -->

    <section id="challenges">
      <div class="texts" style='text-align:center'>
        <h1>
          <span style='font-size:xxx-large'><br>
          Challenges and Solutions</span>
        </h1>
      </div>

      <div class="chal">
        <div class="cards">
          <div class="cards__content">
            <div class="cards__front">
              <h3 class="cards__title">
                Issue: Spam
              </h3>

              <p class="cards__subtitle">
                As we examined our dataset, we found different spam and
                off-topic posts.
              </p>
            </div>

            <div class="cards__back">
              <h3 class="cards__title2">
                Solution:
              </h3>

              <p class="cards__body">
                We used a couple python methods to filter out all the headlines
                which didn't contain the keyword florida and then we filtered
                out all of the ones that had over 20 words.
              </p>
            </div>
          </div>
        </div>

        <div class="cards">
          <div class="cards__content">
            <div class="cards__front2">
              <h3 class="cards__title">
                Issue: Credibility
              </h3>

              <p class="cards__subtitle">
                As we examined the headlines the model produced, we realized
                that they didn't sound realistic.
              </p>
            </div>

            <div class="cards__back">
              <h3 class="cards__title2">
                Solution:
              </h3>

              <p class="cards__body">
                We increased the amount of time the machine trained, added
                capitalization and mugshots.
              </p>
            </div>
          </div>
        </div>

        <div class="cards">
          <div class="cards__content">
            <div class="cards__front">
              <h3 class="cards__title">
                Issue: Language
              </h3>

              <p class="cards__subtitle">
                As we examined the headlines the model produced, we realized
                that some of them used curse words.
              </p>
            </div>

            <div class="cards__back">
              <h3 class="cards__title2">
                Solution:
              </h3>

              <p class="cards__body">
                We then used one of the filtering methods from the package,
                better_profanity to bleep out the inappropriate language.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Challenges Section-->
    <!--About our Team-->

    <section id="team">
      <div class="wrapper">
        <a class="team-arrow" href="javascript:void(0)" id="team_arrow_left"
        onclick="team_left()">&lt;</a>
        <ul id="team-container">
          <li class="team-item" style="display:block">
            <div class="profile profile_yellow">
              <img src="./static/images/dog2.jpeg">
              <div class="profile-contents">
                <h2>
                  Kalen <span>Product Manager</span>
                </h2>

                <p>
                  Hey! I'm a Full-Stack Web Developer, UI Designer, and Python
                  lover. Check out my GitHub!
                </p>
              </div>
            </div>
            <a class="button" href="https://github.com/kalenshamy" target=
            "_blank"><i class="bi bi-github"></i> View More</a>
          </li>

          <li class="team-item" style="display:block">
            <div class="profile">
              <img src="./static/images/cat.jpeg">
              <div class="profile-contents">
                <h2>
                  Jamie <span>Web Developer</span>
                </h2>

                <p>
                  Hi! I am a rising sophomore and Full-Stack Web Developer!
                  I'm a chess and programming enthusiast, and hold a particular
                  interest in machine learning. Check out my GitHub!
                </p>
              </div>
            </div>
            <a class="button" href="https://github.com/mijnap1" target=
            "_blank"><i class="bi bi-github"></i> View More</a>
          </li>

          <li class="team-item" style="display:block">
            <div class="profile">
              <img src="./static/images/redpanda-2.jpeg">
              <div class="profile-contents">
                <h2>
                  Michael <span>Supreme Overlord</span>
                </h2>

                <p>
                  Bow down to your Supreme Overlord... Check out my GitHub!
                </p>
              </div>
            </div>
            <a class="button" href="https://github.com/astoppop" target=
            "_blank"><i class="bi bi-github"></i> View More</a>
          </li>

          <li class="team-item" style="display:none">
            <div class="profile">
              <img src="./static/images/rabbit-3.jpeg">
              <div class="profile-contents">
                <h2>
                  Emily <span>Kudos Collector</span>
                </h2>

                <p>
                  Hi! I'm a lover of random stuff including cybersecurity,
                  computer science, forensics and adorable animals :) Check out my GitHub!
                </p>
              </div>
            </div>
            <a class="button" href="https://github.com/Orville1415" target=
            "_blank"><i class="bi bi-github"></i> View More</a>
          </li>

          <li class="team-item" style="display:none">
            <div class="profile">
              <img src="./static/images/parker-2.png">
              <div class="profile-contents">
                <h2>
                  Parker <span>Wildlife Photographer</span>
                </h2>

                <p>
                  I love my doggo lol. Check out my GitHub!
                </p>
              </div>
            </div>
            <a class="button" href="https://github.com/ParkerKline" target=
            "_blank"><i class="bi bi-github"></i> View More</a>
          </li>

          <li class="team-item" style="display:none">
            <div class="profile">
              <img src="./static/images/hamster-2.jpeg">
              <div class="profile-contents">
                <h2>
                  Ria <span>Florida Man Reporter</span>
                </h2>

                <p>
                  Hi! I'm a programming, machine learning, and web development
                  enthusiast, and a lover of debating and robotics. Check out my GitHub!
                </p>
              </div>
            </div>
            <a class="button" href="https://github.com/RiaGulati" target=
            "_blank"><i class="bi bi-github"></i> View More</a>
          </li>
        </ul>
        <a class="team-arrow" href="javascript:void(0)" id="team_arrow_right"
        onclick="team_right()">&gt;</a>
      </div>
    </section>
    <script>
        for (let i = 0; i < document.getElementsByClassName("team-item").length; i++) {
        members[i] = [document.getElementsByClassName("team-item")[i], i <= 3];
        }
        show_team_members();
    </script> 
    <script>







        var menuBtn = document.getElementById("menuBtn")
        var sideNav = document.getElementById("sideNav")
        var menu = document.getElementById("menu")

        sideNav.style.right = "-250px";

        menuBtn.onclick = function(){
        if(sideNav.style.right == "-250px"){
            sideNav.style.right = "0";
            menu.src = "close.png";
        }
        else{
          sideNav.style.right = "-250px";
          menu.src = "menu.png";
        }
        }
    </script> 
    <script>







        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
        if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
        } else {
        navbar.classList.remove("sticky");
        }
        }
    </script>
    <footer>
      <div class="footer_side">
        <h3>
          CONTENTS + PRIVACY
        </h3>
        <a href="">Home</a> <a href="#purpose">Our Purpose</a> <a href=
        "#time">Process</a> <a href="#team">Team</a> <a href=
        "https://www.youtube.com/watch?v=hoBb9oIFu8E">Privacy Policy</a>
        <a href="https://www.youtube.com/watch?v=iik25wqIuFo">Mission Goal</a>
      </div>

      <div class="footer_center">
        <h3>
          MYSTERY?
        </h3>

        <form>
          <input placeholder="Type Anything..." required="" type="email">
          <br>
          <button type="submit">MAYBE A TRY?</button>
        </form>
      </div>

      <div class="footer_side">
        <h3>
          CONTACT
        </h3>

        <p>
          2627 Hanover Street,
          <br>
          Palo Alto, CA 94304
        </p>

        <div class="socials">
          <a href="https://www.facebook.com/aicampdotorg/"><i class=
          "bi bi-facebook"></i></a> <a href=
          "https://www.youtube.com/channel/UCUGJzo5EwViLGpAgYphNyzg"><i class=
          "bi bi-youtube"></i></a> <a href=
          "https://www.instagram.com/aicampofficial/"><i class=
          "bi bi-instagram"></i></a> <a href=
          "https://www.tiktok.com/@aicamp"><i class="bi bi-tiktok"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
