<!DOCTYPE html>
<html>
  <head>
    <title>
      Headline - AI Predicts Florida Man Headlines
    </title>
    <link href="../static/css/styles.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap Font Icon CSS -->
    <link href=
    "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    rel="stylesheet"><!-- JQUERY + AJAX -->

    <script src="../static/js/jquery-3.1.1.js"></script>
    <script src="../static/js/dark_mode.js"></script>
    <script>
      function updateLikes(is_like) {
        $.ajax({
          url: '../headline_mod/updateLikes/',
          method: 'POST',
          data: {headline_id: "{{ headline_id }}", like:is_like},
          success: function(response) {
            var obj = response;
            console.log(obj);
            $('#likes').html(obj.likes);
            if (obj.choice == 1) {
              document.getElementById("dislike_svg").className = "bi bi-caret-down";
              document.getElementById("like_svg").className = "bi bi-caret-up-fill";
            } else if (obj.choice == -1) {
              document.getElementById("like_svg").className = "bi bi-caret-up";
              document.getElementById("dislike_svg").className = "bi bi-caret-down-fill";
            } else {
              document.getElementById("like_svg").className = "bi bi-caret-up";
              document.getElementById("dislike_svg").className = "bi bi-caret-down";
            }
          },
          error: function(error) {
            if (error.responseText == "LOGIN") {
              window.open("/{{ base_url }}login", target="_blank").focus();
    //               window.location.pathname = "/{{ base_url }}/login";
            } else {
              console.log(error);
            }
          }
        })
      }
    </script>
  </head>
  <body>
    <header>
      <nav>
        <i class="bi bi-list" id="mobile_nav_button" onclick=
        "toggle_nav()"></i> <img class="logo" src=
        "../static/images/florida_man.png">
        <div class="menu">
          <ul class="nav-links">
            <li>
              <a href="../">Home</a>
            </li>

            <li>
              <a href="../model">Model</a>
            </li>
          </ul>
        </div>

        <div class="darkLight-searchBox">
          <div class="dark-light">
            <i class="bi bi-moon-fill" id="moon"></i> <i class="bi bi-sun" id=
            "sun"></i>
          </div>

          <div class="searchBox">
            <div class="searchToggle">
              <a href="../profile" style="width:22px;height:26px;" target=
              "_blank"><i class="bi bi-person-circle"></i></a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <script>
    var mobile_nav = false;
    function toggle_nav() {
      if (!mobile_nav) {
        document.getElementsByTagName("nav")[0].style.paddingBottom = "100px";
        document.getElementsByTagName("nav")[0].style.height = "200px";
        mobile_nav = true;
      } else {
        document.getElementsByTagName("nav")[0].style.paddingBottom = "";
        document.getElementsByTagName("nav")[0].style.height = "";
        mobile_nav = false;
      }
    }
    </script>
    <section id="headline">
      <div id="generation">
        <div class="headline_preview_background">
        </div>

        <div id="news_banner">
          <h1>
            The Florida News
          </h1>
        </div>

        <h1>
          {{ result }}
        </h1>

        <h2>
          Generated from: {{ prompt }}
        </h2>

        <div id="img-floaters">
          <h3>
            {{ date }}
          </h3>
        </div>

        <div class="reactions">
          <span><a id="like" onclick="updateLikes(true)">{% if user_choice == 1
          %} <i class="bi bi-caret-up-fill" id="like_svg"></i> {% else %}
          <i class="bi bi-caret-up" id="like_svg"></i> {% endif %}</a></span>
          <p>
            <span id="likes">{{ likes }}</span>
          </p>
          <span><a id="dislike" onclick="updateLikes(false)">{% if user_choice
          == -1 %} <i class="bi bi-caret-down-fill" id="dislike_svg"></i> {%
          else %} <i class="bi bi-caret-down" id="dislike_svg"></i> {% endif
          %}</a></span>
        </div>
        <img src="{{img}}">
      </div>
    </section>

    <footer>
      <div class="footer_side">
        <h3>
          CONTENTS + PRIVACY
        </h3>
        <a href="../">Home</a> <a href="../#purpose">Our Purpose</a> <a href=
        "../#time">Process</a> <a href="../#team">Team</a> <a href=
        "https://www.youtube.com/watch?v=hoBb9oIFu8E">Privacy Policy</a>
        <a href="https://www.youtube.com/watch?v=iik25wqIuFo">Mission Goal</a>
      </div>

      <div class="footer_center">
        <h3>
          MYSTERY?
        </h3>

        <form>
          <input placeholder="Type Anything..." required="" type="email">
          <br>
          <button type="submit">MAYBE A TRY?</button>
        </form>
      </div>

      <div class="footer_side">
        <h3>
          CONTACT
        </h3>

        <p>
          2627 Hanover Street,
          <br>
          Palo Alto, CA 94304
        </p>

        <div class="socials">
          <a href="https://www.facebook.com/aicampdotorg/"><i class=
          "bi bi-facebook"></i></a> <a href=
          "https://www.youtube.com/channel/UCUGJzo5EwViLGpAgYphNyzg"><i class=
          "bi bi-youtube"></i></a> <a href=
          "https://www.instagram.com/aicampofficial/"><i class=
          "bi bi-instagram"></i></a> <a href=
          "https://www.tiktok.com/@aicamp"><i class="bi bi-tiktok"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
