<!DOCTYPE html>
<html>
  <head>
    <title>Model - AI Predicts Florida Man Headlines</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <nav>
      <img src="../static/images/florida_man.png" class="logo">
        <div class="menu">
          <ul class="nav-links">
            <li><a href="../">Home</a></li>
          </ul>
        </div>
        
        <div class="darkLight-searchBox">
          <div class="dark-light">
            <i class='bx bx-moon moon'></i>
            <i class='bx bx-sun sun'></i>
          </div>
          
          <div class="searchBox">
            <div class="searchToggle">
              <i class='bx bxs-user-account'></i>
            </div>
        </div>
      </div>
    </nav>
    </header>
    <section id="purpose">
      
    </section>
    <div class="footer">
        <div class="col-1">
          <h3>
            CONTENTS + PRIVACY
          </h3>
            <a href="">Home</a>
            <a href="#time">Process</a>
            <a href="#time">Our Purpose</a>
            <a href="#team">Team</a>
            <a href="https://www.youtube.com/watch?v=hoBb9oIFu8E">Privacy Policy</a>
          <a href="https://www.youtube.com/watch?v=iik25wqIuFo">Mission Goal</a>
        </div>
        <div class="col-2">
         <h3>
           MYSTERY?
         </h3>
      <form>
        <input type="email" placeholder="Type Anything..." required>
        <br>
        <button type="submit">
          MAYBE A TRY?
        </button>
      </form>
          </div>
        <div class="col-3">
          <h3>
            CONTACT
          </h3>
          <p>
            2627 Hanover Street,<br>Palo Alto, CA 94304
          </p>
          <div class="socials">
            <a href="https://www.facebook.com/aicampdotorg/"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://www.youtube.com/channel/UCUGJzo5EwViLGpAgYphNyzg"><ion-icon name="logo-youtube"></ion-icon></a>
            <a href="https://www.instagram.com/aicampofficial/"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="https://www.tiktok.com/@aicamp"><ion-icon name="logo-tiktok"></ion-icon></a>
          </div>
         </div>
        </div>
  </body>
</html>
